.tweet {
  background-color: lightblue;
  width: auto;
  list-style-type: none;
  color : black;
  font-size: 22px;
}

.center{
  text-align: center;
}

ul.tweet{
  padding: 0px;
}

.fa-twitter {
  font-size: 25px;
  color: darkblue;
}
.fa-globe {
  font-size: 100px;
  color: darkblue;
}

.fa-heart {
  color: red;
}
