.tweet {
  background-color: lightblue;
  width: auto;
  list-style-type: none;
  color : black;
  font-size: 20px;
}

.center{
  text-align: center;
}

ul.tweet{
  padding: 0px;
}

.fa-twitter {
  font-size: 25px;
  color: #1da1f2;
  padding: 10px;
}
.fa-globe {
  font-size: 100px;
  color: #1da1f2;
}

.fa-heart {
  color: red;
  font-size: 20px;
}

.userdate {
  font-size: 17px;
  color: grey;
}

p {
  text-align: center;
}
